.wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 15px;
}

.wrapper{
    color: #C8D2DE;
}

.wrapper h1 {
    text-align: center;
    color: black;
}

.tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags span {
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #686E76;
    padding-left: 10px;
    padding-right: 10px;
}

.featuredImg {
    width: 100%;
}